.hidden {
    display: none !important;
}
@media (max-width: 1280px) {
    section.grid {
        grid-template-columns: repeat(3, 1fr); /* Reduce columns for medium screens */
        grid-template-rows: repeat(8, 1fr);
    }
    section.absolute {
        display: none; /* Hide side sections on smaller screens */
    }
}
@media (max-width: 768px) {
    section.grid {
        grid-template-columns: repeat(2, 1fr); /* Further reduce columns for smaller screens */
        grid-template-rows: repeat(12, 1fr);
    }
}
@media (max-width: 480px) {
    section.grid {
        grid-template-columns: 1fr; /* Single column for very small screens */
        grid-template-rows: repeat(24, 1fr);
    }
}
#hand {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(211, 211, 211, 0.6);
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: end;
  border-radius: 10px;
}
.shadow-md {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.role-card {
  width: 40%;
}
.role-card:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}
#roleCard {
  cursor: pointer;
}
@keyframes slideIn {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
#roleCard {
  animation: slideIn 0.7s ease-out forwards;
}