.hidden {
    display: none !important;
}

@media (max-width: 1280px) {
    section.grid {
        grid-template-columns: repeat(3, 1fr); /* Reduce columns for medium screens */
        grid-template-rows: repeat(8, 1fr);
    }
    section.absolute {
        display: none; /* Hide side sections on smaller screens */
    }
}
@media (max-width: 768px) {
    section.grid {
        grid-template-columns: repeat(2, 1fr); /* Further reduce columns for smaller screens */
        grid-template-rows: repeat(12, 1fr);
    }
}
@media (max-width: 480px) {
    section.grid {
        grid-template-columns: 1fr; /* Single column for very small screens */
        grid-template-rows: repeat(24, 1fr);
    }
}

.role-card {
  width: 6rem;
  height: 8rem;
  position: relative;
  transition: transform 0.5s ease-out;
  transform: translateY(100%);
}
.role-card:hover {
  transform: translateY(-50%);
}
#hand {
  padding-bottom: 2rem;
  background-color: rgba(0, 0, 0, 0.8);
}
#roleCard {
  cursor: pointer;
}

@keyframes slideIn {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
#roleCard {
  animation: slideIn 0.7s ease-out forwards;
}